img {
    max-width: 100%;
    max-height: 100%;
}

#video {
    border: 1px solid black;
    height: auto;
    width: 100%;
    display: block;
   
}

.liked:hover {
    background: url("public/img/like_over.png") no-repeat;
}

.coms_container{
    max-height: 140px;
    overflow-y: auto;
}

  .thumb {
    font-size: 50px;
    cursor: pointer;
    user-select: none;
}

input[type="number"]
{
    border: 0px;
    outline: none;
    width:25%;
    background: transparent;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor:default;
}

.box {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}
  

.hide {
    display: none !important;
}

#cat1{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}


#cat2{
    position: absolute;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#cat3{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#not_available{
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#photo {
    border: 1px solid black;
}

#uploadImage{
    margin: 0 auto; /* center div */ 
}
.select{
    border: 1px solid rgb(170, 12, 233);
}

 canvas {
    display: none;
} 

#picContainer img{
    width: 70px;
	height: 70px;
}


.camera {
    position: relative;
}

#results_box{
    height: 100%;
    display: contents;
    align-items: center;
    position: absolute;
    justify-content: center;
}
.pic{
    width:100%;
    height:100%;
	position: relative;
    top: 0px;
}

.img1{
  height: 240px;
  width: auto;
  margin: 0 auto; /* center div */ 
  max-width: 320px;
}

.output {
    max-width: 340px;
    width:auto;
    display: inline-block;
}

#startbutton {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    bottom: 36px;
    padding: 5px;
    background-color: #d3d3d3;
    border: 1px solid rgba(255, 255, 255, 0.7);
    font-size: 14px;
    color: rgba(255, 255, 255, 1.0);
    cursor: not-allowed;
}

.com input[type="number"]{
    text-align: end;
}
.contentarea {
    font-size: 16px;
    font-family: Arial;
    text-align: center;
}

.center{
    margin: auto;
  border: 3px solid rgba(17, 31, 17, 0.13);
  padding: 10px;
}

.up_like{
    position: relative;
    bottom: 6px;
    left: 4px;
}
.in_box{
    box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
    color: #4a4a4a;
    display: block;
    padding: 0.25rem;
    position: relative;
    bottom: 30px;
}

/* ----- BULMA MODIFICATION ----- */
.navbar-item .buttons{
    margin-bottom: -8px;
}
html,
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
body > footer {
    margin-top: auto;
}
.footer {
    background-color: #363636;
    padding: 1.5rem 1.5rem 2rem;
    color: black;
}
.footer strong{
    color: #d3d3d3;
}
